<% provide(:page_title, 'Welcome') %>
<div class="row">
	<div class="col-md-6">
		<h1 class="display-4">Welcome!</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-header">
			<h4>Register</h4>
		</div>
			<form  action="/users" method="post">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				
				<div class="form-group row">
					<label for="first_name" class="col-sm-4 col-form-label">First Name</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="first_name" name="user[first_name]">
					</div>
				</div>

				<div class="form-group row">
					<label for="last_name" class="col-sm-4 col-form-label">Last Name</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="last_name" name="user[last_name]">
					</div>
				</div>

				<div class="form-group row">
					<label for="email" class="col-sm-4 col-form-label">Email</label>
					<div class="col-sm-7">
						<input type="email" class="form-control" id="email" name="user[email]">
					</div>
				</div>

				<div class="form-group row">
					<label for="city" class="col-sm-4 col-form-label">Location</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="city" name="user[city]">
					</div>
					<select name="user[state]" id="state" class="form-control col-sm-2">
						<% states.each do |key, state| %>
							<option id="state" value="<%= state %>"><%= state %></option>
						<% end %>
					</select>
				</div>

				<div class="form-group row">
					<label for="password" class="col-sm-4 col-form-label">Password</label>
					<div class="col-sm-7">
						<input type="password" class="form-control" id="password" name="user[password]">
					</div>
				</div>

				<div class="form-group row">
					<label for="password_confirmation" class="col-sm-4 col-form-label">Confirm Password</label>
					<div class="col-sm-7">
						<input type="password" class="form-control" id="password_confirmation" name="user[password_confirmation]">
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-2 offset-sm-5">
						<input type="submit" class="btn btn-default" value="Register">
					</div>
				</div>
			</form>
	</div>
	<div class="col-md-6">
		<div class="form-header">
			<h4>Login</h4>
		</div>
		<form action="/sessions" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<div class="form-group row">
				<label for="email" class="col-sm-4 col-form-label">Email</label>
				<div class="col-sm-7">
					<input type="email" class="form-control" id="login_email" name="user[email]">
				</div>
			</div>

			<div class="form-group row">
				<label for="password" class="col-sm-4 col-form-label">Password</label>
				<div class="col-sm-7">
					<input type="password" class="form-control" id="login_password" name="user[password]">
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-2 offset-sm-5">
					<input type="submit" class="btn btn-default" value="Login">
				</div>
			</div>
		</form>
	</div>
</div>


