<div class="flash_wrapper">
	<% flash.each do |key, msg| %>
		<div class="alert alert-<%=key %>">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<ul>
				<li>
					<%= msg %>
				</li>
			</ul>
		</div>
	<% end %>
</div>