<div class="nav_row">
	<div class="container">
		<ul class="nav justify-content-end">
			<li class="nav-item">
				<%= link_to "Events Dashboard", events_path, :class => "nav-link" %>
			</li>
			<li class="nav-item">
				<%=  link_to "Logout", session_path(current_user), method: :delete, :class => "nav-link" %>
			</li>
		</ul>
	</div>
</div>